<h1><%= @doctor.name %></h1>
<%= @doctor.appointment.each do |appointment| %>
    <p>Appointment: <%= appointment.appointment_datetime.strftime("%B %d, %y at %k:%M") %> - Patient: <%= link_to appointment.patient_name, patient_path(appointment.patient) %></p>
<% end %>
